<section class="section__container client__container" id="client">
  <div class="client__content">
    <h2 class="section__header">What our happy client say</h2>
    <p class="section__description">
      Testimonials Highlighting Our Commitment to Quality, Exceptional Service,
      and Customer Satisfaction
    </p>
    

    <div class="client__card">
      <img src="assets/client3.jpg" alt="user" />
      <div>
        <p>
          "AutoPartsCo transformed my car with their high-quality and affordable wheels. The 5% cashback was a delightful bonus!"
        </p>
        <h4>David Miller</h4>
        <h5>Real Estate Agent</h5>
      </div>
    </div>

    <div class="client__card">
      <img src="assets/client2.jpg" alt="user" />
      <div>
        <p>
          "Exceptional quality and service! The wheels are stunning, and the 30-day payment terms made it incredibly convenient."
        </p>
        <h4>Sarah Thompson</h4>
        <h5>Interior Designer</h5>
      </div>
    </div>

    <div class="client__card">
      <img src="assets/client1.jpg" alt="user" />
      <div>
        <p>
          "The 30-day terms made it easy for us to upgrade our car without financial stress. Highly recommended!"
        </p>
        <h4>Michael Lee</h4>
        <h5>Entrepreneur</h5>
      </div>
    </div>
  </div>
</section>
