
<nav class="sticky navbar">
	<div class="brand  display__logo">
		<a href="#top" class="nav__link"> <span class="logo">ALLIED TYRE TRADERS</span></a>
	</div>

	<!-- <input type="checkbox" id="nav" class="hidden" /> -->
	<label for="nav" class="nav__open"><i></i><i></i><i></i></label>
	<div class="nav">
		<ul class="nav__items">
			<li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
			<li class="nav__item"><a href="#about" class="nav__link">About</a></li>
			<li class="nav__item"><a href="#products" class="nav__link">Products</a></li>
			<li class="nav__item"><a href="#client" class="nav__link">Reviews</a></li>
            <li class="nav__item"><a href="#footer" class="nav__link">Contacts</a></li>
		</ul>
	</div>
</nav>

