<section class="section__container product__container" id="products">
    <h2 class="section__header">Products</h2>
    <div class="product__grid">
      <div class="product__card">
        <h4>Off-Road Tire -</h4>
        <p> $150.00</p>
        <img src="assets/wheel3.jpeg" alt="product" />
      </div>
      <div class="product__card">
        <h4>Car Wheel Rims</h4>
        <p>$400.00 (for a set of 4)
        </p>
        <img src="assets/wheel1.jpeg" alt="product" />
      </div>
      <div class="product__card">
        <h4>Car Wheel with Tire</h4>
        <p>$200.00</p>
        <img src="assets/wheel5.jpeg" alt="product" />
      </div>
      <div class="product__card">
        <h4>Car Tire</h4>
        <p>$100.00 </p>
        <img src="assets/wheel6.jpeg" alt="product" />
      </div>
      <div class="product__card">
        <h4>Car Wheel Rim</h4>
        <p>$250.00</p>
        <img src="assets/wheel12.jpg" alt="product" />
      </div>
      <div class="product__card">
        <h4>All-Season Tire</h4>
        <p>$120.00</p>
        <img src="assets/wheel20.jpeg" alt="product" />
      </div>
    </div>
  </section>
