<section class="section__container deals__container">
  <div class="deals__card">
    <h2 class="section__header">Hot 🔥 Deals for You</h2>
    <p>Online shopping for automotive parts and accessories direct to consumers</p>
  </div>
  <div class="deals__card">
    <span><i class="ri-cash-line"></i></span>
    <h4>1.5% Cashback</h4>
    <p>Earn a 1.5% cashback reward on every automotive purchase you make!</p>
  </div>
  <div class="deals__card">
    <span><i class="ri-calendar-schedule-line"></i></span>
    <h4>30-Day Terms</h4>
    <p>
      Take advantage of our 30-day payment terms, completely interest-free!
    </p>
  </div>
  <div class="deals__card">
    <span><i class="ri-money-rupee-circle-line"></i></span>
    <h4>Save Money</h4>
    <p>
      Discover unbeatable prices and save big on top-quality automotive parts!
    </p>
  </div>
</section>
