.deals__container {
  display: grid;
  gap: 2rem;
}

.deals__card span {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.deals__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.deals__card p {
  color: var(--text-light);
}

@media (width > 540px) {
  .deals__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width > 768px) { .deals__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .deals__card:nth-child(1) {
    grid-column: 1/4;
  }
}

@media (width > 1024px) {
    .deals__container {
      grid-template-columns: repeat(4, 1fr);
    }
  
    .deals__card:nth-child(1) {
      grid-column: unset;
    }
}  
